<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new storage folder</title>
</head>
<body>
    We will handle storage exception like this: user will get redirect to this html element. User will choose article name key will be article number. 
    He will also have a choice to select product name. After that user will submit form to upload files. For some reason, there is a unhandled exception 
    which corrupts our workflow. This will be like a fix for this.

    <form  method="post" th:action="@{/e-sell/en/articles/addNewStorageFolder}">
        <select class="form-control" id="ar_num" name="ar_num">
            <option value="0">Select article for folder to be created:</option>
            <option th:each="article:${articles}" th:value="${article.article_number}" th:text="${article.article_name}"></option>
          </select>
<br>
          <input type="submit" value="Yes i want to delete advert." class="btn btn-primary">
  
    </form>
    <div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
 </body>
</html>