<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-sell - insert shipping details</title>
</head>
<body>
    <form action="/shipping" method="post">
        <input type="hidden" name="article_number" value="article_number">
        <input type="text" name="shipping" value="shipping">
        <input type="text" name="comment" value="comment">
<input type="text" name="location" value="location">
<input type="text" name="delivery" value="delivery">
<input type="text" name="returns" value="returns">
<input type="text" name="payments" value="payments">

<input type="submit" value="Add shipping details">
    </form>
</body>
</html>