<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 lang="en">
 <head>
 <title>E-sell homepage</title>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<link th:href="@{/styles/top_navigation.css}" rel="stylesheet" />
<link th:href="@{/styles/rowpadding.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script th:src="@{/script/form_validation.js}"></script>
 </head>
 <body>
 
  <div class="topnav">
        <a th:href="@{/e-sell/en/}" >Homepage</a>
<a th:href="@{/e-sell/en/contact}">Contact</a>
    </div>
 
 <div class="container">
 <div id="rw" class="row mt-4">
 <div class="col mt-5">
 

    <form method="post" th:action="@{/e-sell/en/registration}" th:object="${sellers}" class="row g-3" ng-app="formValidation" ng-controller="validateForm" name="registrationForm" novalidate>
 <input type="hidden" th:field="*{type_of_user}" th:id="type_of_user" th:value="${sellers.type_of_user}">
 <div th:if="${#fields.hasErrors()}">

        <span class="validationError text-danger">
        Please correct the problems below and resubmit.
        </span>
      </div>
            <div class="col-md-6">
             <label for="fname" class="form-label">Enter first name:</label>
             <div class="input-group mb-3">
                <input type="text" th:field="*{fname}"  class="form-control" ng-model="fname" required id="fname" placeholder="John, Jane...">
                  <div class="input-group-append">
    <span class="input-group-text" ng-bind="fnameLength()"></span>
  </div>
             </div>
                <span class="validationError text-danger" th:if="${#fields.hasErrors('fname')}" 
                th:errors="*{fname}">
                First name error
                </span>
               
                    <span class="validationError text-danger" ng-show="registrationForm.fname.$dirty && registrationForm.fname.$invalid">
      <span ng-show="registrationForm.fname.$error.required">First name is required.</span></span>
                
            </div>
             <div class="col-md-6">
              <label for="lname" class="form-label">Enter last name:</label>
              <div class="input-group mb-3">
                <input type="text" th:field="*{lname}" id="lname" class="form-control" ng-model="lname" required placeholder="Doe...">
                 <span class="input-group-text" ng-bind="lnameLength()"></span>
              </div>
                <span class="validationError text-danger" th:if="${#fields.hasErrors('lname')}" 
                th:errors="*{lname}">
                Last name error
                </span>
         <span class="validationError text-danger" ng-show="registrationForm.lname.$dirty && registrationForm.lname.$invalid">
      <span ng-show="registrationForm.lname.$error.required">Last name is required.</span></span>
      

            </div>
              <div class="col-md-6">
               <label for="dateofbirth" class="form-label">Date of birth:</label>
                <input type="date" th:field="*{dateofbirth}" id="dateofbirth" class="form-control" ng-model="dateofbirth" required>
    <span class="validationError text-danger" th:if="${#fields.hasErrors('dateofbirth')}" 
                th:errors="*{dateofbirth}">
                Date of birth error
                </span>
                
         <span class="validationError text-danger" ng-show="registrationForm.dateofbirth.$dirty && registrationForm.dateofbirth.$invalid">
      <span ng-show="registrationForm.dateofbirth.$error.required">Date of birth is required.</span></span>
            </div>
               <div class="col-md-6">
               <label for="location" class="form-label">Enter location:</label>
               <div class="input-group mb-3">
                <input type="text" th:field="*{location}" id="location" class="form-control" ng-model="location" required placeholder="London, 3600 Open Road... ">
                  <div class="input-group-append">
                         <span class="input-group-text" ng-bind="locationLength()"></span  >
                  </div>
               </div>
   <span class="validationError text-danger" th:if="${#fields.hasErrors('location')}" 
                th:errors="*{location}">
                Location error
                </span>
                
     <span class="validationError text-danger" ng-show="registrationForm.location.$dirty && registrationForm.location.$invalid">
      <span ng-show="registrationForm.location.$error.required">Location is required.</span></span>
  
            </div>
            
            
               <div class="col-md-6">
               <label for="nickname" class="form-label">Enter nickname:</label>
               <div class="input-group mb-3">
                <input type="text" th:field="*{nickname}"  id="nickname" class="form-control" ng-model="nickname" required placeholder="John the Doe,Jane the doe...">
                 <div class="input-group-append">
    <span class="input-group-text" ng-bind="nicknameLength()"></span>
  </div>
               </div>
  <span class="validationError text-danger" th:if="${#fields.hasErrors('nickname')}" 
                th:errors="*{nickname}">
                Nickname error
                </span>
   <span class="validationError text-danger" ng-show="registrationForm.nickname.$dirty && registrationForm.nickname.$invalid">
      <span ng-show="registrationForm.nickname.$error.required">Nickname is required.</span></span>
      <span ng-show="alreradyExists" class="validationError text-danger">Nickname already exsts in database.</span >
            </div>
            
              <div class="col-md-6">
               <label for="contact" class="form-label">Enter contact information:</label>
               <div class="input-group mb-3">
                <input type="text" th:field="*{contact}" id="contact" class="form-control" ng-model="contact" required placeholder="Email: janedoe@email.com, Phone: +11111111...">
                <div class="input-group-append">
    <span class="input-group-text" ng-bind="contactLength()"></span>
  </div>
               </div>
  <span class="validationError text-danger" th:if="${#fields.hasErrors('contact')}" 
                th:errors="*{contact}">
                Contact error
                </span>
     <span class="validationError text-danger" ng-show="registrationForm.contact.$dirty && registrationForm.contact.$invalid">
      <span ng-show="registrationForm.contact.$error.required">Contact is required.</span></span>
            </div>
            
             <div class="col-md-6">
               <label for="email" class="form-label">Enter email:</label>
               <div class="input-group mb-3">
                <input type="email" th:field="*{email}" id="email" class="form-control" ng-model="email" required placeholder="janedoe@email.com,johndoe@gmail.com...">
                 <div class="input-group-append">
    <span class="input-group-text" ng-bind="emailLength()"></span>
  </div>
               </div>
 <span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" 
                th:errors="*{email}">
                Email error
                </span>
        <span class="validationError text-danger" ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">
      <span ng-show="registrationForm.email.$error.required">Email is required.</span></span>
      <span ng-show="alreradyExistsEmail" class="validationError text-danger">Email already exsts in database.</span >
            </div>
            
             <div class="col-md-6">
               <label for="hash_password" class="form-label">Password:</label>
               <div class="input-group mb-3">
                <input type="password" th:field="*{hash_password}" id="hash_password" class="form-control" ng-model="hash_password" required>
                 <div class="input-group-append">
    <span class="input-group-text" ng-bind="passwordLength()"></span>
  </div>
               </div>
 <span class="validationError text-danger" th:if="${#fields.hasErrors('hash_password')}" 
                th:errors="*{hash_password}">
                Password error
                </span>
       <span class="validationError text-danger" ng-show="registrationForm.hash_password.$dirty && registrationForm.hash_password.$invalid">
      <span ng-show="registrationForm.hash_password.$error.required">Password is required.</span></span>
            </div>
       
            <div class="col-12">
                <input type="submit" value="Submit" class="btn btn-primary" ng-disabled="error||incomplete">
            </div>
        </form>
 </div >
 </div >
 </div>
 
 <footer id="foot1" class="text-center text-lg-start text-muted mt-5"> 
 <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05); color:black">
    &copy; 2022 Copyright: Esell.com 
  </div>
</footer >

 </body >
</html>